.table{
	display: table;width:100%;height:100%;
}
.itable{
	display: table;width:100%;
}
.tcell{
	display: table-cell;vertical-align: middle;text-align: center;
}
.circle{
  -moz-border-radius-topleft: 50% !important; -webkit-border-top-left-radius: 50% !important; -khtml-border-top-left-radius: 50% !important; border-top-left-radius: 50% !important;
  -moz-border-radius-topright: 50% !important; -webkit-border-top-right-radius: 50% !important; -khtml-border-top-right-radius: 50% !important; border-top-right-radius: 50% !important;
  -moz-border-radius-bottomleft: 50% !important; -webkit-border-bottom-left-radius: 50% !important; -khtml-border-bottom-left-radius: 50% !important; border-bottom-left-radius: 50% !important;
  -moz-border-radius-bottomright: 50% !important; -webkit-border-bottom-right-radius: 50% !important; -khtml-border-bottom-right-radius: 50% !important; border-bottom-right-radius: 50% !important;
}
.sfit{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.repeatimg{
  background-repeat: repeat;
  background-position:center;
}
.fitimg{
  background-repeat:no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  background-position:center;
}
.containimg{
  background-repeat:no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  background-position:center;
}
.coverimg{
  background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-position:center;
}
table{
  border-collapse: collapse;border-spacing:0px;margin: 0px;padding:0px;color:white;
}
table td,table tr{
  padding:0;margin:0;
}
.clearfloat{
  clear:both;
}
.truebox{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
ul{
  list-style: none;
  margin: 0px;
  padding:0px;
}
ul li{
  margin:0px;
  padding:0px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input{
  -webkit-appearance: none;
}
input{
  border:0;
  padding:2px;
}
/* Large Corner radius */
.l-corner-all, .l-corner-top, .l-corner-left, .l-corner-tl { -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px; -khtml-border-top-left-radius: 10px; border-top-left-radius: 10px; }
.l-corner-all, .l-corner-top, .l-corner-right, .l-corner-tr { -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px; -khtml-border-top-right-radius: 10px; border-top-right-radius: 10px; }
.l-corner-all, .l-corner-bottom, .l-corner-left, .l-corner-bl { -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; -khtml-border-bottom-left-radius: 10px; border-bottom-left-radius: 10px; }
.l-corner-all, .l-corner-bottom, .l-corner-right, .l-corner-br { -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; -khtml-border-bottom-right-radius: 10px; border-bottom-right-radius: 10px; }
/* Medium Corner radius */
.m-corner-all, .m-corner-top, .m-corner-left, .m-corner-tl { -moz-border-radius-topleft: 7px; -webkit-border-top-left-radius: 7px; -khtml-border-top-left-radius: 7px; border-top-left-radius: 7px; }
.m-corner-all, .m-corner-top, .m-corner-right, .m-corner-tr { -moz-border-radius-topright: 7px; -webkit-border-top-right-radius: 7px; -khtml-border-top-right-radius: 7px; border-top-right-radius: 7px; }
.m-corner-all, .m-corner-bottom, .m-corner-left, .m-corner-bl { -moz-border-radius-bottomleft: 7px; -webkit-border-bottom-left-radius: 7px; -khtml-border-bottom-left-radius: 7px; border-bottom-left-radius: 7px; }
.m-corner-all, .m-corner-bottom, .m-corner-right, .m-corner-br { -moz-border-radius-bottomright: 7px; -webkit-border-bottom-right-radius: 7px; -khtml-border-bottom-right-radius: 7px; border-bottom-right-radius: 7px; }
/* Small Corner radius */
.s-corner-all, .s-corner-top, .s-corner-left, .s-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.s-corner-all, .s-corner-top, .s-corner-right, .s-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.s-corner-all, .s-corner-bottom, .s-corner-left, .s-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.s-corner-all, .s-corner-bottom, .s-corner-right, .s-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }
.unround{
  -moz-border-radius-topleft: 0px; -webkit-border-top-left-radius: 0px; -khtml-border-top-left-radius: 0px; border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 0px; -khtml-border-bottom-left-radius: 0px; border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px; -webkit-border-bottom-right-radius: 0px; -khtml-border-bottom-right-radius: 0px; border-bottom-right-radius: 0px;
}
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}