#main,section.content{
  min-height:100vh;
  position: relative;
}
section.content{
	padding-bottom:100px;
}
.github-corner{
	position: fixed !important;
}
.landscape{
  width: 100%;
}
.landscapediv{
  width:100%;
  height:60vh;
  min-height:300px;
}
.portrait{
  max-height: 500px;
  margin:auto;
}
:root {
  --cover-background-color: white;
  --theme-color:#1B99C2;
}
section.cover{
  border-bottom: 1px solid #ccc;
}
.sidebar-nav li{
  cursor: pointer;
}
.sidebar-nav>ul>li>ul>li>ul>li>a:before {
  content:'' !important;
}
.bottombuttons{
	padding-top:20px;
	padding-bottom:20px;
}
.greybg,.code{
	background:#F7F7F7;
}
.contentbox{
  background:#F7F7F7;
  margin-top:20px;padding:10px 10px 20px 20px;
}
.strong{
	font-size:24px;font-weight: bold
}
.markdown-section table{
	display: table !important;
}
.bold{
  font-weight: bold;
}